{% extends 'base.html' %}

{% block title %}
{{ success.id }} | {{ success.name }}
{% endblock %}

{% block main_id_block %}successTechNameHeader{% endblock %}

{% block content %}

<div x-data id="successPage" class="container-fluid">

    {# Header #}
    <header>

        {# Crumbs #}
        <nav x-cloak x-show="$store.success.crumbs.length > 0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-2">
                <template x-for="(crumb, index) in $store.success.crumbs" :key="crumb.url">
                    <li
                        class="breadcrumb-item"
                        :class="(index === $store.success.crumbs.length-1) ? 'active' : ''"
                    >
                        {# not last #}
                        <template x-if="index !== $store.success.crumbs.length-1">
                            <a
                                :href="resolveURL(crumb.url)"
                                x-text="crumb.name"
                            ></a>
                        </template>

                        {# last #}
                        <template x-if="index === $store.success.crumbs.length-1">
                            <a aria-current="page">
                                <i class="bi bi-arrow-down" aria-hidden="true"></i>
                                <span class="visually-hidden" x-text="crumb.name"></span>
                            </a>
                        </template>
                    </li>
                </template>
            </ol>
        </nav>

        {# Mitigation Name [ID] + CK Link #}
        <h1 tabindex="-1" class="fs-2" id="successMitgationNameHeader" class="mb-2">
            <span>{{ success.name }} [</span><a
                :href="resolveURL($store.success.url)"
                target="_blank"
                rel="noreferrer noopener"
                class="link-attack-orange"
                aria-label="`ATT&amp;CK Page {{ success.name }} {{ success.id }}`"
            >{{ success.id }}</a><span>]</span>
        </h1>

        <div>{{ success.description | safe }}</div>

    </header>

    {# Techniques #}
    <section>
        <h2 class="fs-3">Techniques</h2>
            <table class="table has-strong-codes has-strong-blue-links">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Use</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="(tech, m_index) in $store.success.techniques" :key="m_index">
                        <tr :class="(m_index % 2 == 0) ? 'table-light' : ''" :id="tech.tech_id">
                            <td class="align-left" x-text="tech.attack_version"></td>
                            <td class="align-left">
                                <span x-text="tech.full_tech_name"></span> <span>[
                                <a
                                    :href="resolveURL(tech.internal_url)"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-attack-orange">
                                    <span                                
                                        x-text="tech.tech_id">
                                    </span>
                            </a>]</span></td>
                            <td class="align-middle text-break" x-html="tech.tech_description"></td>
                            <td class="align-middle text-break" x-html="tech.use"></td>
                        </tr>
                    </template>
                </tbody>
            </table>
    </section>
</div>

<style>
@keyframes new-row {
  from { background-color: #FFDEAD; }
  to { background-color: transparent;}
}

tr.highlight td {
  animation: new-row 2.5s 1;
}
</style>

<script>
    document.addEventListener('alpine:init', async () => {
        const crumbs = {{ breadcrumbs | default([]) | tojson }};
        if (crumbs.length > 0) {
            crumbs[0]['name'] = 'Home';
        }

        const success = {{ success | tojson }};

        Alpine.store('success', {
            crumbs: bracketizeCrumbIDs(crumbs),

            id: success.id,
            name: success.name,
            description: success.description,
            url: success.url,
            mitigation_src: success.mitigation_src,

            techniques: success.techniques
        });
    });

    setTimeout(() => {
        if(window.location.href.includes('#'))
        {
            // Extract the anchor from the URL
            let anchor = window.location.href.split('#')[1];

            // Add the highlighted class to the anchor element
            document.getElementById(anchor).classList.add('highlight');

            // Scrolls to the anchor element
            document.getElementById(anchor).scrollIntoView();

            // Clears the highlighted class after 5 seconds
            setTimeout(() => {
                document.getElementById(anchor).classList.remove('highlight');
            }, 5000);
        }
    }, 500);
</script>

{% endblock %}
